.professional-header {
  background-color: #2a0385;
  padding: 1.5rem;
  text-align: center;
  border-bottom: 1px solid #ffffff;
}

.name {
  color: #030303;
  font-size: 2rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.title {
  color: #000000;
  font-size: 1.1rem;
  margin: 0;
  font-style: italic;
}