/* Sidebar.css */
.sidebar {
    background-color: #2c3e50;
    color: white;
    width: 60px; /* Ancho pequeño cuando está contraído */
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    padding: 20px 0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    overflow: hidden;
}

.sidebar:hover {
    width: 175px; /* Ancho completo al hacer hover */
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 250px; /* Ancho completo de los elementos */
}

.sidebar nav ul li {
    padding: 12px 20px;
    white-space: nowrap; /* Evita que el texto se rompa */
}

.sidebar nav ul li a {
    color: white;
    text-decoration: none;
    display: block;
    font-size: 16px;
}